<h1>Decode this string</h1>
<form action="/decode" method="post">
  <label name="secret_code">Secret Code
    <input type="text" name="secret_code">
  </label>
  <input type="submit" value="Decode!">
</form>