<!doctype html>
<html>
  <head>
    <title>Hello World in Sinatra</title>
  </head>
  <body>
    <%= erb :"shared/navbar" %>
    <%= yield %>
    <em>The preceding view provided by the default layout</em>
  </body>
</html>